.indexForma{
    line-height: 30px;
}
.indexMargina{
    margin-left: 10px;
}

.indexMarginaGeolokacija{
    margin-left: 24px;
}

.upisUBazu{
    font-size: 20px;
    margin-left: 115px;
    margin-bottom: 10px;
}